boto>=2.49.0,>=2.49.0,==2.49.0  # from collection amazon.aws,community.aws,user
botocore>=1.12.249,>=1.12.249,==1.17.62  # from collection amazon.aws,community.aws,user
boto3>=1.9.249,>=1.9.249,==1.14.62  # from collection amazon.aws,community.aws,user
openshift>=0.6.2,==0.12.0  # from collection community.kubernetes,user
requests-oauthlib==1.3.0  # from collection community.kubernetes,user
cachetools==4.1.1  # from collection user
certifi==2020.6.20  # from collection user
cffi==1.14.0  # from collection user
chardet==3.0.4  # from collection user
cryptography==2.9.2  # from collection user
docker-py==1.10.6  # from collection user
docker-pycreds==0.4.0  # from collection user
docutils==0.15.2  # from collection user
google-auth==1.19.0  # from collection user
idna==2.10  # from collection user
Jinja2==2.11.2  # from collection user
jmespath==0.10.0  # from collection user
kubernetes==12.0.1  # from collection user
MarkupSafe==1.1.1  # from collection user
oauthlib==3.1.0  # from collection user
passlib==1.7.2  # from collection user
pyasn1==0.4.8  # from collection user
pyasn1-modules==0.2.8  # from collection user
pycparser==2.20  # from collection user
python-dateutil==2.8.1  # from collection user
python-string-utils==1.0.0  # from collection user
requests==2.24.0  # from collection user
rsa==4.6  # from collection user
ruamel.yaml==0.16.10  # from collection user
ruamel.yaml.clib==0.2.0  # from collection user
s3transfer==0.3.3  # from collection user
six==1.15.0  # from collection user
urllib3==1.25.9  # from collection user
websocket-client==0.57.0  # from collection user